@page "/tests"

@inherits BasePage

<div style="margin: 5px;">
    <h3>Tests</h3>

    <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
        Open Simple Dialog
    </MudButton>
</div>